
.cookies{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: orange;
}
.cookie {
    max-height: 400px;
    max-width: 367px;
    flex: 1 0;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 185, 122);
}

.cookie{
    font-family: "Open Sans";
}

.cookie img{
    margin-top: 15px;
    max-width: 320px;
}


.bigModal{
 z-index: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
position:  fixed;
top:0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,0.99);
}

.cookie-modal{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.cookie-modal-image{
    position: relative;
 width: 50%;
 display: flex;
justify-content: center;
align-items: center;
background-color: green;
}


.cookie-modal-description{
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
background-color: orange;
}

.cookie-purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
