.getstarted{
    display: flex;
    justify-content: flex-end;
}



#mainsection-video{
    position: relative;
}

#mainsection-video .question-div{
    top:30%;
    z-index: 1;
    position: absolute;
    width: 1000px;
    height: 300px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainsection-video .question-div h1{
    color:  black;
}


#mainsection-video .question-div button{
    padding: 15px 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px wheat;
    border: none;
    background-color: wheat;
    text-transform: uppercase;
}


#mainsection-video .question-div button:hover{
    scale: 110%;
}

.registration-form{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(253, 208, 124);
    border-radius: 15px;
    width: 50%;
    top:25%;
    left: 25%;
    position: fixed;
}

.information{
    margin-top: 100px;
    display: flex;
    flex-direction:column;
}

.information h1{
    margin-bottom: 50px;
}

#content-description{
    font-size: 20px;
    margin-bottom: 25px;
}

.experiences{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}



.ourpeople{
    border-top: 1.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#element-name{
    font-size: 25px;
    font-weight: 600;
}

.person{
background-color: #faf9f6;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person img{
    width: 120px;
    box-shadow: 1px 1px 25px 1px black;
}
.person p{
    margin-top:25px;
    font-size: 15px;
    text-align: center;
}

.person img{
    border-radius: 50%;
}



.areyouready{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bigmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

