.getstarted{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.getstarted h1{
    font-family: "Pacifico";
    font-size: 64px;
    margin-top:100px;
}

.getstarted p {
    text-align: end;
    color: black;
    font-family: 'Lora';
    font-size: 18px;
    margin-bottom: 25px;
}


#mainsection-video{
    position: relative;
}

#mainsection-video .question-div{
    top:30%;
    z-index: 1;
    position: absolute;
    width: 1000px;
    height: 300px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainsection-video .question-div h1{
    color:  black;
    font-family: 'Lora"';
}


#mainsection-video .question-div button{
    padding: 15px 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px wheat;
    border: none;
    background-color: wheat;
    text-transform: uppercase;
}


#mainsection-video .question-div button:hover{
    scale: 110%;
}

.registration-form{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(253, 208, 124);
    border-radius: 15px;
    width: 50%;
    top:25%;
    left: 25%;
    position: fixed;
}

.information{
    margin-top: 100px;
    display: flex;
    flex-direction:column;
}

.information h1{
    margin-bottom: 50px;
}

#content-description{
    color: black;
    font-family: 'Lora';
    font-size: 20px;
    margin-bottom: 25px;
}

.experiences{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align:center;
}

.experiences h1{
    font-size: 64px;
    font-family: "Pacifico";
 
}

.ourpeople{
    margin-top: 100px;
    border-radius: 50px;
    border-top: 15px solid  #ffc76b;
    border-bottom: 15px solid #ffb347;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#element-name{
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person img{
    width: 120px;

}
.person p{
    font-style: italic;
    color: black;
    margin-top:25px;
    font-size: 13px;
    text-align: center;
}

.person img{
    border-radius: 50%;
}

.areyouready{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.faq{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.accordion{
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  #ffb347;
    width: 600px;
}

.accordion_question{
    background-color: green;
}

.accordion_question p{
    font-size: 28px;
    font-family: 'Lora';

}

.answer{
    font-size: 15px;;
}

.pop{
    animation: 1s pop ease;
}

@keyframes pop {
   0%{
    opacity: 100%;
   } 

   100%{
    opacity: 0%;;
   }
}  