.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form {
  border-radius: 30px;
  border: 2px solid rgb(26, 25, 25);
  background-color: #ffb347;
  height: 800px;
  width: 600px;
  flex-direction: column;
  text-align: center;
}

.h1div h1 {
  font-weight: 100;
  font-family: "Dancing Script";
}

.form-group label {
  font-size: 16px;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
}

.form-group h1 {
  font-family: "Dancing Script";
}

.form-group input {
  border: none;
  border-bottom: 2px solid black;
  background: none;
  color: white;
  font-weight: 900;
  width: 80%;
  font-family: "Dancing Script";
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.form-group.age input {
  width: 20%;
}

.gender-male {
  width: 50%;
}

.gender-female {
  width: 50%;
  background-color: pink;
}

.gender-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.gender-choices img {
  width: 50px;
  height: 50px;
}

.form-group input:focus {
  border: none;
  border-bottom: 4px solid black;
  background: none;
  outline: none;
}

.form-group input::placeholder {
  color: white;
  text-align: center;
  font-size: 20px;
}

body {
  margin: 0;
}
