/*Navigation bar element*/
#navigation-bar {
  height: 80px;
  background-color: white;
  margin-bottom: 4rem;
}

#logo {
  height: 128px;
  width: 128px;
}

/*Handling of the shopping cart */

#shopping-cart {
  width: 42px;
  cursor: pointer;
}

#shopping-cart:hover {
  scale: 109%;
  transition: 0.2s ease;
}

/*Make the 'X' appear & add custom animation menu when user clicks.*/

.navigation-item span:nth-child(1) {
  top: 75%;
}
.navigation-item span:nth-child(3) {
  top: 85%;
}
.navigation-item:hover {
  cursor: pointer;
}

.menu-span {
  top: 65%;
  height: 3px;
  width: 35px;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  transform: 0.3s ease;
}

.menu-span.test {
  background-color: black;
}

.menu-span.test:nth-child(1) {
  top: 75%;
  transform: rotate(45deg);
  transform: 0.3s ease;
}

.menu-span.test:nth-child(2) {
  opacity: 0;
}

.menu-span.test:nth-child(3) {
  top: 75%;
  transform: rotate(-45deg);
  transform: 0.3s ease;
}

/* Purchase menu div ( The popup ) */
.purchase-menu {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf9f6;
  border-left: 3px solid black;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 15;
  position: fixed;
  overflow-y: auto;
}

.purchase-menu .cart {
  margin-top: 150px;
  height: 125px;
  width: 500px;
}

.purchase-menu button {
  padding: 15px;
  top: 0;
  right: 0;
  position: fixed;
}
.purchase-menu span {
  height: 3px;
  width: 30px;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 5%;
  right: 5%;
  transform: rotate(45deg);
}

.purchase-menu span:nth-child(1) {
  transform: rotate(-45deg);
}

/*This span handles the closing of the purchase menu */
.close-purchase-menu-span {
  cursor: pointer;
}

/*This section handles the menu nav */

.menu-nav {
  padding-top: 30px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: none;
  border-radius: 25px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: #faf9f6;
  padding-bottom: 30px;
}

.menu-nav li {
  margin: 20px;
  list-style-type: none;
}

.menu-nav a {
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: #4a4a4a;
  line-height: 1.625;
  text-decoration: none;
  letter-spacing: 2px;
}

.menu-nav a:hover {
  text-decoration: underline;
}

.menuspan-close {
  height: 3px;
  width: 30px;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 5%;
  right: 5%;
  transform: rotate(45deg);
}

.menuspan-close:nth-child(1) {
  transform: rotate(-45deg);
}

.menuspan-close:hover {
  cursor: pointer;
}

/*MAIN SECTION*/

.mainsection {
  background-size: contain;
  background-image: url("../Images/Background-Image.jpg");
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.mainsection video {
  height: 670px;
  width: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.mainsection img {
  height: 670px;
  width: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.mainsection h1 {
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mainsection p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.cookie {
  display: flex;
  justify-content: center;
}

.cookie:hover {
  scale: 105%;
  transition: 0.3s ease-in-out;
}

#main_section_cookie {
  margin-top: 3em;
  border-radius: 50%;
  width: 55%;
}

.cookies-info {
  border-left: 3px solid rgb(252, 212, 137);
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookies-info p {
  font-size: 32px;
}

#cookies-info-button {
  margin-top: 3em;
  padding: 15px 75px;
  border: none;
  border-radius: 35px;
  background-color: rgb(252, 212, 137);
  font-size: 16px;
}

#cookies-info-button:hover {
  scale: 105%;
  transition: 0.2s ease-in-out;
  box-shadow: 1px 1px 5px 5px rgb(248, 173, 33);
}

/*This section  handles the three images for the shop section */
.shop-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shop-item img {
  max-height: 300px;
  max-width: 450px;
}

/*Finest section- just a filler section to make the webpage look good*/

.finest {
  margin-top: 3em;
  margin-bottom: 3em;
}

.finest span {
  background-color: wheat;
  height: 1px;
  width: 3000px;
}

.finest h2 {
  font-size: 37px;
  margin-top: 3em;
  text-align: center;
}

.image-and-description a {
  text-decoration: none;
  color: black;
}

.image img {
  box-shadow: 3px 3px 30px 3px wheat;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description h3 {
  font-family: "Lora";
}

.description:nth-of-type(odd) {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border-left: 3px dashed black;
  border-radius: 50%;
}

.description:nth-of-type(even) {
  padding-right: 15px;
  border-right: 3px dashed black;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.single-product {
  margin-top: 5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body.modal-open {
  overflow: hidden;
}

/*Our story div*/
.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.our-story p {
  margin-top: 30px;
  text-align: center;
}
.our-story h3 {
  text-decoration: underline black 2px;
  text-underline-offset: 15px;
}

/* Product modal. When the products gets clicked, a modal opens showcasing the information about it*/

.product-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
}

/*Animations classes for transitioning*/

.blur {
  filter: blur(5px);
}

.animation {
  animation: popUp 0.5s ease;
}

iframe {
  height: 450px;
  width: 600px;
}

/* ^ This one closes. And this one opens V */

.animation-open {
  animation: open-purchase-div 0.5s ease;
}

.animation-slidein {
  animation: slideDownWithOpacity 0.5s ease;
}

.animation-slideup {
  animation: slideUpWithOpacity 0.5s ease;
}

/* These two animations deal with the X on the left rotating for 315/-315 degrees. */

.animation-rotate1 {
  animation: rotate1 0.5s ease forwards;
}

.animation-rotate2 {
  animation: rotate2 0.5s ease forwards;
}

.animation-rotate3 {
  animation: rotate3 0.5 ease forwards;
}

.animation-rotate4 {
  animation: rotate4 0.5 ease forwards;
}

/* Animations. Open-purchase-div pops up the transition while popUp removes it from the screen, kinda */

@keyframes open-purchase-div {
  0% {
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes popUp {
  0% {
    transform: translateX(0);
    opacity: 100%;
  }

  100% {
    transform: translateX(800px);
    opacity: 0%;
  }
}

@keyframes slideDownWithOpacity {
  0% {
    transform: translateY(-5em);
    opacity: 0%;
  }
}

@keyframes slideUpWithOpacity {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }

  100% {
    transform: translateY(-10em);
    opacity: 0%;
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(315deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}

@keyframes big {
  0% {
    scale: 100%;
  }

  100% {
    scale: 103%;
  }
}
