.main{
    justify-content: center;
    display:flex;
    flex-direction: row;

}

body{
    background-color: gray;
}

.green{
    background-color: pink;
    color:green;
}

table{
    font-family:"Jersey 20"
}


.pop{

    position:absolute;
    width:375px;
    padding: 5px;
    margin:25px auto auto 10px;
    z-index:10;
}

.table img {
width: 120px;
}

.main img{
    width: 350px;
    margin-bottom: 3em;
}
.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#money{
    font-family: "Jersey 20";
}

.add div{
    display: flex;
    justify-content: center;
}



#cookie {
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Add a transition for smooth animation */
}



.enlarge {
    animation: cookieEnlarge 0.15s linear;
}



@keyframes cookieEnlarge {
    0%{
        scale:100%;
    }

    50%{
        scale:110%;
    }

    100%{
        scale:100%;
    }
}