body{
    background-color: grey;
}
.main{
    align-items: center;
    display:flex;
    flex-direction: column;
}
.bakeryname{
    margin-top:3em;
    border: 2.7px solid #414a4c;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 1.7em;
    border-radius: 10px;
}
.bakerymodal{
    display: none;
    color:wheat;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,1);
    z-index: 301;
}
.bakerymodal input{
    margin-top: 0em;
    width: 350px;
    height: 60px;
}
#closemodal{
    position: absolute;
    right: 0.5em;
    top:0.5em;
}
.bakeryname p{
    font-family: "Jersey 20", sans-serif;
    font-size: 30px;
    text-align: center;
    color:black;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 18%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
}

#upgrades{
    color: white;
    font-size: 30px;
    font-family: "Jersey 20", sans-serif;
}

.main img{
    width: 350px;
    margin-bottom: 3em;
}

.purchaseItem{
    padding:0.5em;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;

    text-transform: uppercase;
    justify-content: flex-start;
    flex-direction: row;
    font-family: "Jersey 20";
}

.purchases{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.stats{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Jersey 20", sans-serif;
}

.upgradeItem{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.upgradable{
    margin-top:0.5em;

}

.upgradable:hover{
    cursor: pointer;
}



.stats p{
    color: white;
    font-size: 30px;
    font-family: "Jersey 20", sans-serif;
}
#cookiesbakedmoney{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cookiesstats{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#money{
    font-family: "Jersey 20", sans-serif;
    font-size: 60px;
}
#cookiesbaked{
    font-family: "Jersey 20", sans-serif;
    font-size: 40px;
    color: black;
}

.accountsettings{
    position:fixed;
    bottom:0;
    left: 0;
    background-color: wheat;

}

.settings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cookie {
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Add a transition for smooth animation */
}
.enlarge {
    animation: cookieEnlarge 0.15s linear;
}
@keyframes cookieEnlarge {
    0%{
        scale:100%;
    }

    50%{
        scale:110%;
    }

    100%{
        scale:100%;
    }
}