:root{
    --tanbrown: #c59560;
}
body{
    background-color: var(--tanbrown)
}

/*Opening popup modal so the user can input the bakery's name */
.openingPopup{
    font-family: "Jersey 20";
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cookie{
    margin: 5em;
}


.enlarge{
    

    scale:110%
 
}

.sideNav h1{
    text-align: center;
    color:white;
    font-family: "Jersey 20";
}

.main img{
    width: 256px;
}

.sideNav{
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right:3px solid wheat;

}

.shopname{
    font-family: "Jersey 20", sans-serif;

    font-size:2em;

    border: 5px solid;
    background-color: rgba(255,255,255,1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    font-size: 32px;
    text-align: center;
    z-index: 5;
}

.shopname input{
    font-size:32px;
    font-family: "Jersey 20", sans-serif;
    border: 5px solid;

    border-radius: 50px;
    text-align: center;
}

.bakeryname{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#bakeryname{
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
    font-family: "Jersey 20";
    font-size:32px;
    background: rgba(255,255,255,.9);
    width: 80%;
}


#settings{
    top:0;
    right: 0;
    position: fixed;
    margin-top: 15px;
    margin-right: 15px;
   width: 64px;
}

.hide{
    display: none;
}

.purchases{
    text-align: center;
    color:white;
    font-family: "Jersey 20";
    max-height: 300px;
    overflow: auto;
}


.purchases::-webkit-scrollbar{
    border-radius: 1px;
}


.purchaseItem{

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90%;
    background-color: rgba(255,255,255,1);
    height: 64px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    color:black
}
